@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Merriweather');    

body {
    background: #fafafa;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}
.purple {
    background-color: #41295a!important;
}
.fullheight {
   min-height: 100vh;
}
.parallax {
    background-image: url(../img/pexels-photo-249360.jpg);
    position: relative;
    height: 110vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax1 {
    background-image: url(../img/pexels-photo-261909.jpg);
    position: relative;
    height: 110vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax2 {
    background-image: url(../img/pexels-photo-373488.jpg);
    position: relative;
    height: 110vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    background: linear-gradient(to bottom right, #780206, #061161);
    /* background: linear-gradient(to bottom right, #FC466B, #3F5EFB); */
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}

/*TESTING SNAP SCROLL STARTS HERE*/

/* .panel {
    position: relative;
}
.inner {
    width: 960px;
    margin: 0 auto;
} */

#cover{
    /* position: absolute; */
    min-height: 60vh;
}
#covercaption {
    position: absolute;
    margin-top: -5rem;
    right: 2rem;
}
/*TESTING SNAP SCROLL ENDS HERE*/
.text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #37474f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
b {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700 !important;
}
em {
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}
.cl-top {
    color: #3F5EFB;
}
.cl-fail {
    color: #FC466B;
}
.bold {
    font-weight: 700 !important;
}
#title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
	color: #37474f;
}

.lead, .subtitle
{
    color: #607d8b !important;
}
.slide {
    color: #fafafa;
}
.stuck {
    position:fixed;
    background: #fafafa;
    z-index: 100;
    /* left: 50%; */
    top: 0%;
    /* width: 100%;  */
    /* to fix shift of the fixed bar */
    /* transform: translateX(-50%); */
  }
kbd {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    /* color: #37474f; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    padding: .3rem 1rem;
}
kbd.top {
    background-color: #3F5EFB;
}
kbd.fail {
    background-color: #FC466B;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:active, .btn-outline-secondary.active {
    color: #fff;
    background-color: #607d8b;
    border-color: #607d8b;
    box-shadow: none;
}
.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
  /* box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); */
  box-shadow: none;
}
/* Tooltip styles */
.tooltip-inner {
    /* font-family: 'Noto Sans', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: #607d8b !important; */
    background: #37474f !important;

}
.tooltip.bs-tooltip-right .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #37474f !important;
    /* border-right-color: #607d8b !important; */
}
.tooltip.bs-tooltip-left .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: #37474f !important;
}
.tooltip.bs-tooltip-bottom .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #37474f !important;
}
.tooltip.bs-tooltip-top .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #37474f !important;
}
/* SVG styles */
svg:not(:root) {
    overflow: visible;
    height: auto;
    width: 100%;
}
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
} 

svg *::-webkit-selection {
    background:transparent;
}
/* Cursor type for SVG hoverable */
text.rowLabel.heatLabel, circle.cell, text.optionsLabel, line.bar {
cursor: pointer;
}

/* svg .covergrid {
    opacity: 0.3;
} */
.covergrid text {
    fill: #607d8b;
    opacity: 0.8;
    text-anchor: end;
}
rect.tickline {
    /* stroke          : #607d8b !important; */
    /* stroke-dasharray: 4px; */
    stroke-width: 0.05rem;
    stroke-opacity  : 0.1;
    fill            : transparent;
  }

/* rect.cell-border {
    stroke: #eee;
    stroke-width:0.3px;  
    fill: #000; 
    opacity: 0.3;
} */

circle.cell {
    opacity: 0.5;
    /* fill: #37474f; */
}
.opaque {
    opacity: 1 !important;
    font-weight: 700 !important;
}
text {
    dominant-baseline: central;
}

text.heatLabel {
    /* font-size: 9pt; */
    font-family: 'Noto Sans', sans-serif;
    fill: #607d8b;
  }
#digbar line {
    stroke-width: 0.5rem;
}

.textg3 {fill:#4CAF50 !important; color:#4CAF50 !important;}
.textg1 {fill:#009688 !important; color:#009688 !important;}
.textg2 {fill:#00BCD4 !important; color:#00BCD4 !important;}
.textg4 {fill:#8BC34A !important; color:#8BC34A !important;}
.textg5 {fill:#9E9D24 !important; color:#9E9D24 !important;}
/* .textg5 {fill:#CDDC39 !important; color:#CDDC39 !important;} */

#team a, #team i {
    text-decoration: none;
    color: #6f42c1;
}
/* FOOTER CSS */
.page-footer {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 144.4px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 759.6px 72.2px;
    transform-origin: 759.6px 72.2px;
    caret-color: rgb(255, 255, 255);
    background: rgb(65, 41, 90) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 16px / 24px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 20px 0px 0px;
}/*#FOOTER_1*/

.footer-btn {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 46.4px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 0px;
    touch-action: manipulation;
    vertical-align: middle;
    width: 302.138px;
    word-wrap: break-word;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 151.063px 23.2px;
    transform-origin: 151.063px 23.2px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(81, 45, 168) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 400 normal 12.8px / 19.2px Roboto, sans-serif;
    margin: 6px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 13.6px 34.08px;
    transition: all 0.2s ease-out 0s;
}/*#A_4*/
.footer-btn:hover, .page-footer a:hover {
    text-decoration: none;
    color: inherit;
    background-color: #5b32bc!important;
}
.hoverable:hover {
    -webkit-transition: box-shadow .45s;
    transition: box-shadow .45s;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.footer-copyright {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    height: 50px;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.6);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgba(255, 255, 255, 0.6);
    perspective-origin: 759.6px 25px;
    transform-origin: 759.6px 25px;
    caret-color: rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(255, 255, 255, 0.6);
    font: normal normal 300 normal 14.4px / 50px Roboto, sans-serif;
    outline: rgba(255, 255, 255, 0.6) none 0px;
    overflow: hidden;
}/*#DIV_6*/

.copyright-text {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    height: 49.6px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgba(255, 255, 255, 0.6);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 31.925px;
    column-rule-color: rgba(255, 255, 255, 0.6);
    perspective-origin: 15.9625px 24.8px;
    transform-origin: 15.9625px 24.8px;
    caret-color: rgba(255, 255, 255, 0.6);
    border: 0px none rgba(255, 255, 255, 0.6);
    font: normal normal 300 normal 14.4px / 50px Roboto, sans-serif;
    outline: rgba(255, 255, 255, 0.6) none 0px;
}/*#SPAN_9*/

