@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Merriweather');    

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #37474f;
    background: #fafafa;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
	color: #37474f;
}

.lead, #subtitle
{
    color: #607d8b;
}

/* SVG styles */
svg *::selection {
    background : transparent;
 }

svg *::-moz-selection {
    background:transparent;
 } 

svg *::-webkit-selection {
    background:transparent;
 }
/* rect.selection {
    stroke          : #333;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
  }

rect.cell-border {
    stroke: #eee;
    stroke-width:0.3px;  
    fill: #000; 
    opacity: 0.3;
  } */

circle.cell {
    opacity: 0.3;
    fill: #37474f;
}
text.heatLabel {
    /* font-size: 9pt; */
    dominant-baseline: central;
    font-family: 'Noto Sans', sans-serif;
    fill: #B0BEC5;
  }