@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Merriweather');    

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #37474f;
    background: #fafafa;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
	color: #37474f;
}

.lead, #subtitle
{
    color: #607d8b;
}