@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif|Merriweather');    

body {
    background: #fafafa;
}
.fullheight {
   min-height: 100vh;
}
.text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #37474f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
	color: #37474f;
}

.lead, .subtitle
{
    color: #607d8b !important;
}
.stuck {
    position:fixed;
    background: #fafafa;
    z-index: 100;
    /* left: 50%; */
    top: 0%;
    /* transform: translateX(-50%); */
  }
kbd {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    /* color: #37474f; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0rem;
}
kbd.top {
    background-color: #3F5EFB;
}
kbd.fail {
    background-color: #FC466B;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:active, .btn-outline-secondary.active {
    color: #fff;
    background-color: #607d8b;
    border-color: #607d8b;
    box-shadow: none;
}
.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
  /* box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); */
  box-shadow: none;
}
/* SVG styles */
svg:not(:root) {
    overflow: visible;
    height: auto;
    width: 100%
}
svg *::selection {
    background : transparent;
 }

svg *::-moz-selection {
    background:transparent;
 } 

svg *::-webkit-selection {
    background:transparent;
 }
circle.cell {
    opacity: 0.5;
    /* fill: #37474f; */
}
.opaque {
    opacity: 1 !important;
    font-weight: 700 !important;
}
text {
    dominant-baseline: central;
}
text.heatLabel {
    /* font-size: 9pt; */
    font-family: 'Noto Sans', sans-serif;
    fill: #607d8b;
}
#digbar line {
    stroke-width: 0.5rem;
}
.textg3 {fill:#4CAF50 !important; color:#4CAF50 !important;}
.textg1 {fill:#009688 !important; color:#009688 !important;}
.textg2 {fill:#00BCD4 !important; color:#00BCD4 !important;}
.textg4 {fill:#8BC34A !important; color:#8BC34A !important;}
.textg5 {fill:#CDDC39 !important; color:#CDDC39 !important;}
