@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif|Merriweather');    

body {
    background: #fafafa;
}
.fullheight {
   min-height: 100vh;
}
.parallax {
    background-image: url(/img/pexels-photo-249360.jpeg);
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax1 {
    background-image: url(/img/pexels-photo-261909.jpeg);
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    background: linear-gradient(to bottom right, #780206, #061161);
    /* background: linear-gradient(to bottom right, #FC466B, #3F5EFB); */
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}

/*TESTING SNAP SCROLL STARTS HERE*/

/* .panel {
    position: relative;
}
.inner {
    width: 960px;
    margin: 0 auto;
} */

#cover{
    /* position: absolute; */
    min-height: 60vh;
}

/*TESTING SNAP SCROLL ENDS HERE*/
.text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #37474f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cl-top {
    color: #3F5EFB;
}
.cl-fail {
    color: #FC466B;
}
.bold {
    font-weight: 700 !important;
}
#title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
	color: #37474f;
}

.lead, .subtitle
{
    color: #607d8b !important;
}
.stuck {
    position:fixed;
    background: #fafafa;
    z-index: 100;
    /* left: 50%; */
    top: 0%;
    /* width: 100%;  */
    /* to fix shift of the fixed bar */
    /* transform: translateX(-50%); */
  }
kbd {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    /* color: #37474f; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    padding: .3rem 1rem;
}
kbd.top {
    background-color: #3F5EFB;
}
kbd.fail {
    background-color: #FC466B;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:active, .btn-outline-secondary.active {
    color: #fff;
    background-color: #607d8b;
    border-color: #607d8b;
    box-shadow: none;
}
.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
  /* box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); */
  box-shadow: none;
}
/* Tooltip styles */
.tooltip-inner {
    /* font-family: 'Noto Sans', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: #607d8b !important; */
    background: #37474f !important;

}
.tooltip.bs-tooltip-right .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #37474f !important;
    /* border-right-color: #607d8b !important; */
  }

/* SVG styles */
svg:not(:root) {
    overflow: visible;
    height: auto;
    width: 100%
}
svg *::selection {
    background : transparent;
 }

svg *::-moz-selection {
    background:transparent;
 } 

svg *::-webkit-selection {
    background:transparent;
 }
/* rect.selection {
    stroke          : #333;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
  }

rect.cell-border {
    stroke: #eee;
    stroke-width:0.3px;  
    fill: #000; 
    opacity: 0.3;
  } */

circle.cell {
    opacity: 0.5;
    /* fill: #37474f; */
}
.opaque {
    opacity: 1 !important;
    font-weight: 700 !important;
}
text {
    dominant-baseline: central;
}
text.heatLabel {
    /* font-size: 9pt; */
    font-family: 'Noto Sans', sans-serif;
    fill: #607d8b;
  }
#digbar line {
    stroke-width: 0.5rem;
}
.textg3 {fill:#4CAF50 !important; color:#4CAF50 !important;}
.textg1 {fill:#009688 !important; color:#009688 !important;}
.textg2 {fill:#00BCD4 !important; color:#00BCD4 !important;}
.textg4 {fill:#8BC34A !important; color:#8BC34A !important;}
.textg5 {fill:#CDDC39 !important; color:#CDDC39 !important;}
